<header class="major">
    <h2>What services does techdude provide?</h2>
    Please note: this list is non-exhaustive--that is, if it involves electronics somehow, I can probably do it. Here is a list of things I do regularly:
</header>
<style>
    ul {
        margin-top: 1em;
        margin-left: 1em;
    }
</style>
<ul>
    <li>IT support (Tier 1-3) (I can help you with your computer/phone/servers/network)</li>
    <li>Audio/Video set-up/consultation (including home video surveillance)</li>
    <li>Home automation</li>
    <li>Networking</li>
    <li>Graphic design</li>
    <li>Website design/development</li>
    <li>Specialized electronics</li>
    <li>Basic board-level repair</li>
    <li>Custom software design/development</li>
</ul>

Pricing is negotiable based on services rendered and time consumed until I adopt a consistent model. If you need something done that's not on this list and it involves a computer, just <a href="mailto:{{ site.email }}">send me an e-mail</a> and I'll be happy to talk with you.
